body {
  background-image: url('./images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
}

main {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
}

h2 {
  background-color: hsl(277, 84%, 32%);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
}

form {
  width: 400px;
  box-shadow: 90px, black;
}

button {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #fff;
}

.left {
  padding-right: 3%;
}

.left p {
  color: #fff;
}

.left h1 {
  font-size: 40px;
}

.input {
  padding: 10px;
  margin: 10px
}

.plain {
  font-size: smaller;
  color: rgb(216, 216, 216)
}

.purple {
  padding: 15px;
}

.legal {
  font-size: 10px;
  text-align: center;
}

.terms {
  color: red;
}