.container {
  display: flex;
  flex-direction: row;
}

.left {
  background-color: rgb(243, 243, 233);
  width: 400px;
}

.right {
  background-color: rgb(240, 240, 243);
  width: 400px;
}

button {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.hero {
  width: 50%;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbarleft {
  display: flex;
}
.navbarright {
  display: flex;
  float: right;
}
